In [12]:
string_one='first string'
string_two="Second string"
string_three="""third string"""  # multiple ways to define a string

In [11]:
print(string_one)
print(string_two)
print(string_three)

first string
Second string
third string

In [16]:
num_x= None     # None value type(=0) Case sensitive 
num_x is None   # boolean data type output (True/False)

True

In [15]:
num_y= 10
num_y is None

False

In [17]:
float_number=3.6459
float_number

3.6459

In [18]:
int(float_number) # typecasting (from float to integer)

3

In [19]:
str(float_number) # typecasting

'3.6459'

In [20]:
# Creating a tuple
first_tuple=(12,'Jack',45.6,'new',(3,2),'test')

In [21]:
first_tuple

(12, 'Jack', 45.6, 'new', (3, 2), 'test')

In [22]:
first_tuple[1] #index starts from 0.... from left to right and -1 from right tom left

'Jack'

In [23]:
first_tuple[1]='Mark'  # Tuple is immutable,i.e. can not be modified.

TypeError: 'tuple' object does not support item assignment

In [24]:
first_tuple[0] #accessing tuples from left to right

12

In [25]:
first_tuple[-1]  #accessing tuples from right to left

'test'

In [26]:
first_tuple[5] #accessing tuples left to right

'test'

In [27]:
#slicing a tuple#
first_tuple[1:4]   # [a:b]: a included index, b not included index

('Jack', 45.6, 'new')

In [28]:
first_tuple[1:-2] # slicing using negative & positive indices both.

('Jack', 45.6, 'new')

In [79]:
# Creating a List
first_list=['Mark',101,23.6,'test',None,11]

In [80]:
first_list

['Mark', 101, 23.6, 'test', None, 11]

In [72]:
first_list[2] # Accessing a list

23.6

In [81]:
first_list.append('Jack') # Adding new items to list
first_list

['Mark', 101, 23.6, 'test', None, 11, 'Jack']

In [82]:
first_list.remove('Mark') # Removing items
first_list

[101, 23.6, 'test', None, 11, 'Jack']

In [83]:
first_list.pop(2) #removing by index 
first_list

[101, 23.6, None, 11, 'Jack']

In [84]:
first_list.insert(1,'Smith') #inserting item by index
first_list

[101, 'Smith', 23.6, None, 11, 'Jack']

In [85]:
first_list[2] # accessing by positive index

23.6

In [86]:
first_list[-4] # accessing by negative index

23.6

In [87]:
first_list[1:4] #slicing by positive indices

['Smith', 23.6, None]

In [88]:
first_list[1:-2] #slicing by negative indices

['Smith', 23.6, None]

In [89]:
# Creating a Dictionary(key:value pairs)
first_dict ={'John':'john@abc.com','kelly':'kelly@xyz.org','id':[23,81]}

In [90]:
first_dict

{'John': 'john@abc.com', 'kelly': 'kelly@xyz.org', 'id': [23, 81]}

In [91]:
first_dict.keys()

dict_keys(['John', 'kelly', 'id'])

In [92]:
first_dict.values()

dict_values(['john@abc.com', 'kelly@xyz.org', [23, 81]])

In [93]:
first_dict['kelly'] # accessing a dictionary by key value

'kelly@xyz.org'

In [94]:
first_dict['id']

[23, 81]

In [95]:
first_dict.update({'id':[32,55]}) # Updating the value associated with a key

In [96]:
first_dict

{'John': 'john@abc.com', 'kelly': 'kelly@xyz.org', 'id': [32, 55]}

In [97]:
del first_dict['id'] # Deleting a key

In [98]:
first_dict

{'John': 'john@abc.com', 'kelly': 'kelly@xyz.org'}

In [101]:
# Creating a set
auto_survey = set(['Audi','BMW','BMW','Ferrari','GM','Mercedes','Chevrolet','GM'])

In [102]:
auto_survey

{'Audi', 'BMW', 'Chevrolet', 'Ferrari', 'GM', 'Mercedes'}

In [103]:
# Creating a set
auto_survey_set={'Audi','BMW','BMW','Ferrari','GM','Mercedes','Chevrolet','GM'}

In [104]:
type(auto_survey_set)

set

In [105]:
auto_survey_set

{'Audi', 'BMW', 'Chevrolet', 'Ferrari', 'GM', 'Mercedes'}

In [106]:
# Set Operations through Examples
auto_survey_1 = set(['Audi','BMW','BMW','Ferrari','GM','Mercedes','Chevrolet','GM','Toyota'])
auto_survey_2 = set(['BMW','Ferrari','GM','Hyundai','Kia','Chevrolet','GM','Ford','Toyota','Zen'])

In [107]:
combined_survey_report = auto_survey_1 | auto_survey_2 # OR-Union set Operation

In [108]:
combined_survey_report

{'Audi',
 'BMW',
 'Chevrolet',
 'Ferrari',
 'Ford',
 'GM',
 'Hyundai',
 'Kia',
 'Mercedes',
 'Toyota',
 'Zen'}

In [109]:
common_survey_report = auto_survey_1 & auto_survey_2 # AND-Intersection set Operation

In [110]:
common_survey_report

{'BMW', 'Chevrolet', 'Ferrari', 'GM', 'Toyota'}